<h1>Westlake 2011 - Homecoming Pics</h1>

<%= link_to 'New Pic', new_pic_path %> <br> <hr>

<% @pics.each do |pic| %>
  <%= image_tag pic.pic.url(:thumb)  %> <br>

    <%= link_to 'Original Size', pic %> | <%= link_to 'Delete Pic', pic, :confirm => 'Are you sure?', :method => :delete %> <br>
<br>
  
<% end %>

<br />


