<p id="notice"><%= notice %></p>

<%= link_to 'Go back to the list', pics_path %> <br>
<H3> To download the pic, just right click the image and click "Save image as..." </h3>

<p>
<%= image_tag @pic.pic.url() %>
</p>


